.grid-33
  .app--section
    ul.app--message--list
      each message in messages
        li
          h3
            | Conversation with: #{message.recipient.name}
            a
          ul.app--message--conversation
            li.app--message--me
              .app--avatar(style=`background-image: url(${account.profile_image_url})`)
                img(src='images/f-spore.png')
              p.app--message--text #{message.text}
              p.app--message--timestamp #{message.created_at.slice(0, 19)}
