doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title ShowMyTwitter
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/global.css')
    style.
      .profile-main {
      width: 50px;
      border-radius: 10px;
      float: left;
      margin-right: 20px;
      margin-left: 15px;
      border: 2px solid white;
      position: relative;
      bottom: 14px;
      }
  body
    block app-body
    block error
  script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  script(type='text/javascript', src='./js/script.js')
